:link{
    text-decoration: none;
    color: inherit;
}
.container{
    background-color: red;
    width: 900px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 70px;
    border: 2px solid black;
}

.textos-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quadroAlunos{
    background-color: red;
    display: flex;
    width: 300px;
    height: 200px;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    border: 2px solid black;
}

.textoAlunos{
    margin-left: 120px;
    margin-top: 10px;
}

.quadroTurmas{
    background-color: red;
    display: flex;
    width: 300px;
    height: 200px;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    border: 2px solid black;
}

.textoTurmas{
    margin-left: 120px;
    margin-top: 10px;
}


.quadroCursos{
    background-color: red;
    display: flex;
    width: 300px;
    height: 200px;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    border: 2px solid black;
}

.textoCursos{
    margin-left: 120px;
    margin-top: 10px;
}

.quadros{
    display: flex;
    margin-top: 50px;
}

.alunosIcone,
.turmasIcone{
    display: flex;
    margin-top: 20px ;
    margin-left: -10px;
    height: 90px;
}

.cursosIcone{
    display: flex;
    margin-top: 20px ;
    margin-left: -50px;
    height: 90px;
}

.textos{
    color: black;
}